@{
    ViewBag.Title = "Sensor data details";
}

<h2>Sensor data details for sensorid @ViewBag.sensorid</h2>

<form id="dataform">
    <h3>Enter sensor details</h3><br>
    Start date and time: <input type="text" name="startdate" id="startdate" /><br>
    End date and time: <input type="text" name="enddate" id="enddate" /><br>
    Sensor field: @Html.DropDownList("field", (IEnumerable<SelectListItem>) ViewBag.sensorfields)<br>
    <input type="button" value="Get data" onclick="getData()" />
</form>
    
<div id="chart"></div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="~/Scripts/jquery-ui-timepicker-1.2.2.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        var startDateTime = $("#startdate");
        var endDateTime = $("#enddate");

        $("#startdate").datetimepicker({
            showSecond: true,
            dateFormat: "yy-mm-dd",
            timeFormat: "HH:mm:ss",
            onClose: function(dateText, inst) {
                if (endDateTime.val() != '') {
                    if (startDateTime.datetimepicker('getDate') > endDateTime.datetimepicker('getDate'))
                        endDateTime.datetimepicker('setDate', startDateTime.datetimepicker('getDate'));
                }
                else {
                    endDateTime.val(dateText);
                }
            },
            onSelect: function (selectedDateTime){
                endDateTime.datetimepicker('option', 'minDate', startDateTime.datetimepicker('getDate'));
            }
        });

        $("#enddate").datetimepicker({
            showSecond: true,
            dateFormat: "yy-mm-dd",
            timeFormat: "HH:mm:ss",
            onClose: function (dateText, inst) {
                if (startDateTime.val() != '') {
                    if (startDateTime.datetimepicker('getDate') > endDateTime.datetimepicker('getDate'))
                        startDateTime.datetimepicker('setDate', endDateTime.datetimepicker('getDate'));
                }
                else {
                    startDateTime.val(dateText);
                }
            },
            onSelect: function (selectedDateTime) {
                startDateTime.datetimepicker('option', 'maxDate', endDateTime.datetimepicker('getDate'));
            }
        });

        google.load("visualization", "1", { packages: ["corechart"] });

        function getData() {
            var form = document.getElementById("dataform");
            var startdate = form.startdate.value;
            var enddate = form.enddate.value;

            var id = form.field.value
            var datafield = $("#field option:selected").text();

            $.ajax({
                url: '@Url.Action("FetchSpecificData")',
                type: 'GET',
                data: { installationID: "@ViewBag.installationid", sensorGroupID: "@ViewBag.sensorgroupid", sensorID: id, field: "value", start: startdate, end: enddate },
                cache: false,
                datatype: 'json',
                success: function (data) {
                    var dataArray = new Array(new Array("Timestamp", datafield));
                    $.each(data, function (key, value) {
                        dataArray.push(new Array(key, parseInt(value)));
                    });
                    drawChart(dataArray, id);
                }
            });
        }

        function drawChart(dataArray, id) {
            if (dataArray.length > 2) {
                var data = google.visualization.arrayToDataTable(dataArray);

                var options = {
                    title: 'Data from sensor with ID ' + id,
                    height: 300
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart'));
                chart.draw(data, options);
            }
            else $("#chart").text("No data has been recorded for the sensor with ID " + id);
        }
    </script>
}

<div>
    <br>
    @Html.ActionLink("Back to groundplan", "Module", new { imageid = ViewBag.image, floor = ViewBag.installationid })
</div>